<div class="container d-flex justify-content-center">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h3 class="bg-green text-white mt-4 mb-4 text-center title-module">
            Formulario: Registrar funcionario</h3>
        <hr>
    </div>
</div>
<div class="container">
    <form #employee_register_form="ngForm">
        <div class="d-flex justify-content-center flex-wrap">
            <div class="form-group col-5">
                <input type="text" (ngModel)="employee.identification" name="identification" class="form-control bg-border-green" placeholder="N° de Identificación">
            </div>
            <div class="form-group col-5">
                <app-datepicker (ngModel)="employee.date_born" #datepicker [placeholder_]="'Fecha de Nacimiento'"></app-datepicker>
            </div>
            <div class="form-group col-5">
                <input type="text" (ngModel)="employee.first_name" name="first_name" class="form-control bg-border-green" placeholder="Nombres">
            </div>
            <div class="form-group col-5">
                <input type="text" (ngModel)="employee.last_name" name="last_name" class="form-control bg-border-green" placeholder="Apellidos">
            </div>
            <div class="form-group col-5">
                <input type="email" (ngModel)="employee.email" name="email" class="form-control bg-border-green" placeholder="Corre electrónico">
            </div>
            <div class="form-group col-5">
                <input type="text" (ngModel)="employee.phone_number" name="phone_number" class="form-control bg-border-green" placeholder="Teléfono o Celular">
            </div>
            <div class="form-group col-5">
                <input type="text" (ngModel)="employee.charge" name="charge" class="form-control bg-border-green" placeholder="Cargo / Profesión">
            </div>
            <div class="form-group col-5">
                <input type="text" (ngModel)="employee.address" name="address" class="form-control bg-border-green" placeholder="Dirección de residencia">
            </div>
            <div class="form-group col-5">
                <input type="password" (ngModel)="employee.password" name="password" class="form-control bg-border-green" placeholder="Contraseña">
            </div>
            <div class="form-group col-5">
                <input type="password" (ngModel)="password_confirmation" name="password_confirmation" class="form-control bg-border-green" placeholder="Confirmar contraseña">
            </div>
        </div>
        <hr>
        <div class="d-flex justify-content-center">
            <button type="button" class="btn bg-green btn-hover-green text-white btn-md mr-4" (click)="saveEmployee(employee_register_form)">Guardar <i class="fas fa-save"></i></button>
            <button type="button" class="btn bg-red btn-hover-red text-white btn-md" [routerLink]="['/employee']">Cancelar <i class="oi oi-x"></i></button>
        </div>
    </form>
</div>

<!-- Component for launch errors -->
<app-error-message #error_message_tag [error-message]="error_message"></app-error-message>