<h3 class="bg-green text-white mt-4 mb-4 text-center title-module">
    Módulo Usuarios SRPA</h3>
<hr>
<!-- The form to save a new srpa user -->
<div class="row d-flex justify-content-center flex-wrap">

    <div class="col-12">
        <table class="table table-hover bg-border-green bg-bb-green">

            <thead class="text-center">
                <tr class="bg-green text-white">
                    <th scope="col">N° Identificación</th>
                    <th scope="col">Nombre Completo</th>
                    <th scope="col">Operaciones</th>
                </tr>
            </thead>

            <tbody class="text-center bg-white" *ngIf="usuarios_srpa.length > 0; else not_usuarios_srpa">
                <tr *ngFor="let users of usuarios_srpa" class="bg-bb-green">
                    <th scope="row">{{users.identification}}</th>
                    <td>{{users.first_name + ' ' + users.last_name}}</td>
                    <td>
                        <div class="d-flex justify-content-center">
                            <button class="btn btn-outline-warning btn-sm mr-3" (click)="open_modalView(users._id)">
                                    <span class="oi oi-eye" title="Ver" aria-hidden="true"></span>
                                </button>

                            <button class="btn btn-outline-primary btn-sm mr-3" [routerLink]="['/srpa-user',users._id]">
                                    <i class="oi oi-pencil" title="Editar" aria-hidden="true"></i>
                                </button>

                            <button class="btn btn-outline-danger btn-sm" (click)="remove_srpa_user(users._id)">
                                    <i class="oi oi-trash" title="Borrar" aria-hidden="true"></i>
                                </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <hr>
    </div>

    <div class="col-12 d-flex justify-content-center">
        <button type="button" class="btn bg-green btn-hover-green text-white btn-md" (click)="open_modalRegister()"> 
                    Nuevo Usuario SRPA <i class="oi oi-eject ml-2"></i>
            </button>
    </div>

</div>
<hr>

<!-- Component for launch errors -->
<app-error-message #message [message]="message" [title]="title_message"></app-error-message>

<!-- To show if there is any srpa user register on BD -->
<ng-template #not_usuarios_srpa>
    <tr class="bg-white">
        <td colspan="3">
            <div class="containter text-center">
                <h6>No hay ningún registro.</h6>
            </div>
        </td>
    </tr>
</ng-template>

<!-- To show the personal data when click on view srpa user icon -->
<!-- Modal -->
<app-my-modal #modalView [title]="'Datos Personales'" [visible]="modalView_visible" (close_modal)="close_modalView($event)">

    <div class="modal-body">
        <div *ngIf="usuario_srpa_selected ">
            <div class="container d-flex justify-content-center flex-wrap">
                <div class="col-9">

                    <div class="row align-self-start">
                        <div class="col-6">
                            <div class="container align-center-content ">
                                <img [src]="usuario_srpa_selected.photo_path " class="card-img-top w-50 align-center-item " alt="foto">
                            </div>
                        </div>
                        <div class="col-6 d-flex justify-content-around flex-wrap">
                            <div class="col-12">
                                <span class="col-4">N° Identificación: </span>
                                <div class="col-8">{{ usuario_srpa_selected.identification}}</div>
                            </div>
                            <div class="col-12">
                                <span>Nombres:</span> {{ usuario_srpa_selected.first_name + ' ' + usuario_srpa_selected.last_name }}
                            </div>
                            <div class="col-12">
                                <span>Fecha de Nacimiento: </span> {{ usuario_srpa_selected.date_born | date}}
                            </div>
                            <div class="col-12">
                                <span>Edad:</span> {{ usuario_srpa_selected.age}}
                            </div>
                            <div class="col-12">
                                <span>Sexo:</span> {{ usuario_srpa_selected.gender }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="d-flex col-10">
                            <div class="col-6">
                                <span>Escolaridad: </span> {{ usuario_srpa_selected.scholar }}
                            </div>
                            <div class="col-6">
                                <span>Ocupación: </span> {{ usuario_srpa_selected.occupation }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="d-flex col-10">
                            <div class="col-6">
                                <span>Dirección: </span> {{ usuario_srpa_selected.address }}
                            </div>
                            <div class="col-6">
                                <span>Teléfono: </span> {{ usuario_srpa_selected.phone_number }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="d-flex col-10">
                            <div class="col-6">
                                <span>Referente Afectivo: </span> {{ usuario_srpa_selected.parent_1 }}
                            </div>
                            <div class="col-6">
                                <span>Referente Afectivo: </span> {{ usuario_srpa_selected.parent_2 }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button " class="btn bg-green btn-hover-green text-white " (click)="modalView.closeModal()">Volver</button>
    </div>
</app-my-modal>

<app-my-modal #modalRegister [title]="'Formulario: Registrar Usuario SRPA'" [visible]="modalRegister_visible" (close_modal)="close_modalRegister($event)">
    <div class="modal-body">
        <!-- Form -->
        <form #usuario_srpa_form="ngForm">

            <div class="col-12">

                <div class="d-flex align-items-center">

                    <div class="col-3">
                        <!-- Handle the selector image profile -->
                        <div class="container d-flex justify-content-center flex-wrap">
                            <div class="col-12 align-self-center">
                                <input type="file" name="photo_path" class="d-none" accept="image/*" #image_file (change)="onSelectedFile($event.target.files)">
                                <img [src]="src_image || '../../../../assets/imgs/profile-icon.png' " alt=" " class="card-img-top text-center">
                            </div>
                            <div class="col-12 align-self-center">
                                <button *ngIf="!photo_selected" type="button" class="btn bg-green btn-hover-green text-white btn-md w-100 mt-3" (click)="image_file.click()">Cargar Foto<i class=" oi oi-camera-slr ml-3 "></i></button>
                                <button *ngIf="photo_selected" type="button " class="btn bg-red btn-hover-red text-white btn-md w-100 mt-3 " (click)="delete_selection() ">Cancelar<i class="oi oi-x ml-3 "></i></button>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex col-9 flex-wrap">

                        <div class="form-group col-4">
                            <input type="text" name="first_name" class="form-control bg-border-green" (ngModel)="usuario_srpa_selected.first_name" placeholder="Nombres">
                        </div>

                        <div class="form-group col-4">
                            <input type="text" name="last_name" class="form-control bg-border-green" (ngModel)="usuario_srpa_selected.last_name" placeholder="Apellidos">
                        </div>

                        <div class="form-group col-4">
                            <input type="text" name="identification" class="form-control bg-border-green" (ngModel)="usuario_srpa_selected.identification" placeholder="N° Identificación">
                        </div>

                        <!-- Component datepicker used as date-born -->
                        <div class="form-group col-4">
                            <app-datepicker [placeholder_]="'Fecha de Nacimiento'" #datepicker (ngModel)="usuario_srpa_selected.date_born"></app-datepicker>
                        </div>

                        <div class="form-group col-4">
                            <input type="text" name="age" class="form-control bg-border-green" (ngModel)="usuario_srpa_selected.age" placeholder="Edad">
                        </div>

                        <div class="form-group col-4">
                            <input type="text" name="gender" class="form-control bg-border-green" (ngModel)="usuario_srpa_selected.gender" placeholder="Sexo">
                        </div>

                        <div class="col-6">
                            <div class="form-group">
                                <input type="text" name="scholar" (ngModel)="usuario_srpa_selected.scholar" class="form-control bg-border-green" placeholder="Escolaridad">
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="form-group">
                                <input type="text" name="occupation" (ngModel)="usuario_srpa_selected.occupation" class="form-control bg-border-green" placeholder="Ocupación">
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="form-group">
                                <input type="text" name="address" class="form-control bg-border-green" (ngModel)="usuario_srpa_selected.address" placeholder="Dirección">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <input type="text" name="phone_number" (ngModel)="usuario_srpa_selected.phone_number" class="form-control bg-border-green" placeholder="Teléfono">
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="form-group">
                                <input type="text" name="parent_1" (ngModel)="usuario_srpa_selected.parent_1" class="form-control bg-border-green" placeholder="Referente Afectivo">
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="form-group">
                                <input type="text" name="parent_2" (ngModel)="usuario_srpa_selected.parent_2" class="form-control bg-border-green" placeholder="Referente Afectivo">
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="form-group">
                                <input type="text" name="health" (ngModel)="usuario_srpa_selected.health" class="form-control bg-border-green" placeholder="Salud">
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="form-group">
                                <input type="text" name="attention_mode" (ngModel)="usuario_srpa_selected.attention_mode" class="form-control bg-border-green" placeholder="Modalidad de atención">
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </form>

    </div>
    <div class="modal-footer">
        <div class="col-12 text-right">
            <button (click)="add_srpa_user(usuario_srpa_form)" class="btn bg-green btn-hover-green text-white mr-2">Guardar <i
                        class="oi oi-check"></i></button>
            <button class="btn bg-red btn-hover-red text-white mr-3" (click)="clean_fields(usuario_srpa_form)">Cancelar <i class="oi oi-x"></i></button>
        </div>
    </div>
</app-my-modal>