/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.text-yellow {
    color: yellow
}

.bg-green {
    background-color: #2f8223;
}

.bg-red {
    background-color: #bc0300;
}

.bg-white {
    background-color: white;
}

.bg-border-green {
    border: 1px solid #2f8223;
}

.bg-bb-green {
    border-bottom: 1px solid #2f8223;
}

.btn-hover-green:hover {
    background-color: #014110;
}

.btn-hover-red:hover {
    background-color: #710303;
}

.top-fixed {
    position: fixed;
}

.text-green {
    color: #2f8223;
}

.trim-info {
    max-width: 200px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 15px;
    position: relative;
}

.title-module {
    border-radius: 5px;
    padding: 10px 0px;
}

.cursor-pointer {
    cursor: pointer;
}