ul>li {
    margin-left: 50px;
}

li>a {
    color: #fff;
    font-size: 1.3rem;
}

li>a:hover {
    color: #014110;
    text-decoration: underline;
}

.link-active {
    color: #014110 !important;
    text-decoration: underline;
}