<div class="d-flex justify-content-center bg-dark">
    <img src="../assets/imgs/Logo-fundacion.png" width="500" height="150" class="d-inline-block align-top" alt="" loading="lazy">
</div>
<nav class="navbar navbar-expand-lg bg-green">
    <a class="navbar-brand" href="#">
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mr-5">
            <li class="nav-item">
                <a class="nav-link" routerLink="/" routerLinkActive="active-link">Inicio</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Adminstracion de datos
        </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink="srpa-user">Usuario SRPA</a>
                    <!-- <div class="dropdown-divider"></div> -->
                    <a class="dropdown-item" routerLink="employee">Funcionarios</a>
                </div>
            </li>
        </ul>
        <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
    </div>
</nav>