ul > li{
    margin-left: 50px; 
}

li > a {
    color: #fff;
    font-size: 1.3rem;
}

.dropdown-menu {
    width: 100%; 
}

.dropdown-menu > a:hover{
    color: #fff;
    background-color: #2f8223;
    padding: 3px 2px;
}